stages:
  - test

test:
  stage: test
  image: python:3.12-slim
  before_script:
    - python -V
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest -q
